{% set navActiveItem = 0 %}
{% set title = "Тест не пройден" %}
{% set userPassed = false %}
{% extends "src/layout/main.html" %}

{% block content %}
    <section class="test-result">
        <div class="container">
            <div class="flex-block">
                <p class="h2-title">Первая тема</p>
                <a class="support" href="#">Обращение в техподдержку</a>
            </div>
            <div class="test-result__message">
                <p class="h2-title">К сожалению, вы набрали 35% правильных ответов. </p>
                <p class="text">Предлагаем пройти тест еще раз и набрать порядка 80% верных ответов для прохождения тестирования!</p>
                <div class="btns">
                    <a href="/rezultaty" class="show-results">Посмотреть результаты</a>
                    <div class="btns-block">
                        <a href="/student-lk" class="btn btn-primary">Пройти тест снова</a>
                        <a href="/lekciya-dlya-pervoj-temy" class="btn">Вернутся к лекции</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}