@charset "UTF-8";
@font-face {
  font-family: "Geologica";
  src: local("Geologica SemiBold"), local("Geologica-SemiBold"), url("../fonts/Geologica-SemiBold.woff2") format("woff2"), url("../fonts/Geologica-SemiBold.woff") format("woff"), url("../fonts/Geologica-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: local("Geologica Medium"), local("Geologica-Medium"), url("../fonts/Geologica-Medium.woff2") format("woff2"), url("../fonts/Geologica-Medium.woff") format("woff"), url("../fonts/Geologica-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: local("Geologica Light"), local("Geologica-Light"), url("../fonts/Geologica-Light.woff2") format("woff2"), url("../fonts/Geologica-Light.woff") format("woff"), url("../fonts/Geologica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  src: local("Geologica ExtraLight"), local("Geologica-ExtraLight"), url("../fonts/Geologica-ExtraLight.woff2") format("woff2"), url("../fonts/Geologica-ExtraLight.woff") format("woff"), url("../fonts/Geologica-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
/* var */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-size: 18px;
  font-family: "Geologica";
  font-weight: 300;
  color: #000000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

a:hover {
  text-decoration: none;
  color: #0099DA;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.btn {
  font-weight: 400;
  padding: 20px 37px;
  color: #000000;
  background: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
}

.btn-primary {
  color: #FFFFFF;
  background: #0099DA;
  border: 1px solid #0099DA;
}
.btn-primary:hover {
  background: transparent;
  color: #0099DA;
}

.btn--inactive {
  background: #B1CDEA;
}

.btn--transparent {
  padding: 20px 35px 20px 70px;
  background: transparent;
  color: #0099DA;
  border-radius: 5px;
  border: 1px solid #0099DA;
}

.btn-gray {
  background: #E3E3E3;
  color: #424242;
}

.link {
  font-weight: 400;
  color: #0099DA;
}

.h1-title {
  font-weight: 600;
  font-size: 40px;
  color: #000000;
  margin-bottom: 20px;
}

.h2-title {
  font-weight: 300;
  font-size: 28px;
  color: #000000;
  margin-bottom: 20px;
}

p {
  font-weight: 300;
  color: #000000;
  font-size: 22px;
  margin-bottom: 20px;
}

.p-small {
  font-weight: 500;
  color: #000000;
  font-size: 18px;
}

.input-block label,
.input-block p.label {
  font-weight: 250;
  font-size: 18px;
  margin-bottom: 9px;
  margin-left: 5px;
  color: #000000;
  display: block;
}
.input-block input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  padding: 22px 20px;
  font-size: 18px;
  font-weight: 250;
  color: #6B6B6B;
  background: #FFF;
}

body {
  background: #F5F5F5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: #FFFFFF;
  padding: 20px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .container .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
.header .container .user .logout {
  color: #8F8F8F;
}

.footer__block {
  margin-bottom: 20px;
}
.footer__block a {
  font-size: 18px;
  font-weight: 200;
  color: #425E95;
  margin-right: 40px;
}
.footer__block + .footer__block a {
  text-decoration: underline;
}

.student-lk {
  padding: 70px 0;
}
.student-lk .user-info {
  margin-bottom: 40px;
}
.student-lk .user-info p:not(.h1-title), .student-lk .user-info a {
  font-weight: 400;
  font-size: 18px;
}
.student-lk .user-info p:not(.h1-title) span, .student-lk .user-info a span {
  color: #808080;
}
.student-lk .course-info {
  margin-bottom: 40px;
}
.student-lk .course-info .course-name {
  font-weight: 200;
  font-size: 22px;
  color: #000000;
}
.student-lk .course-info .course-name span {
  font-weight: 200;
  font-size: 22px;
  color: #808080;
}
.student-lk .course-lessons .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
}
.student-lk .course-lessons .course .course__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ECECEC;
  border-radius: 5px;
  padding: 45px;
}
.student-lk .course-lessons .course .course__background .course__completed {
  display: none;
}
.student-lk .course-lessons .course .course__background .course__not-completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0099DA;
  padding: 15px 22px;
  border-radius: 50px;
  background: #FFF;
}
.student-lk .course-lessons .course .course__background .course__name {
  color: #0099DA;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 0;
}
.student-lk .course-lessons .course .course__background .course__desc {
  font-weight: 300;
  font-size: 18px;
}
.student-lk .course-lessons .course .course__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.student-lk .course-lessons .course .course__btns .course__completed-btn.--completed {
  display: none;
}
.student-lk .course-lessons .course .course__btns .course__lecture-btn {
  background: #FFF;
}
.student-lk .course-lessons .course.--complete .course__background {
  background: #0099DA;
}
.student-lk .course-lessons .course.--complete .course__completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  padding: 15px 22px;
  border-radius: 50px;
  background: #52B7E3;
}
.student-lk .course-lessons .course.--complete .course__completed svg {
  margin-right: 2px;
}
.student-lk .course-lessons .course.--complete .course__not-completed {
  display: none;
}
.student-lk .course-lessons .course.--complete .course__name, .student-lk .course-lessons .course.--complete .course__desc {
  color: #FFFFFF;
}
.student-lk .course-lessons .course.--complete .course__completed-btn.--completed {
  display: block;
}
.student-lk .course-lessons .course.--complete .course__completed-btn.--not-completed {
  display: none;
}

.login-page {
  width: 100%;
  height: calc(100vh - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.login-page .h1-title {
  margin-bottom: 60px;
  text-align: center;
}
.login-page .login-form {
  padding: 70px 80px;
  background: #FFFFFF;
}
.login-page .login-form input {
  width: 378px;
}
.login-page .login-form .input-block {
  margin-bottom: 20px;
}
.login-page .login-form .input-block + .input-block {
  margin-bottom: 0;
}

.flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.flex-block .h1-title {
  margin-bottom: 0;
}
.flex-block .support {
  text-decoration: underline;
}

.reg-page {
  height: auto;
  padding: 70px 0;
}
.reg-page .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}
.reg-page .login-form .input-block {
  width: calc(50% - 10px);
  margin-bottom: 0;
}
.reg-page .login-form .input-block input {
  width: 100%;
}
.reg-page .flex-block {
  margin-bottom: 60px;
}
.reg-page .back-btn {
  display: block;
  margin-bottom: 20px;
}

.anketa .login-form {
  display: block;
}
.anketa .radio-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
.anketa .radio-blocks .radio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.anketa .radio-blocks .radio-block input {
  width: 20px;
  height: 20px;
}
.anketa .flex-block {
  margin-bottom: 20px;
}
.anketa .form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.anketa .anketa-info {
  font-weight: 200;
  font-size: 22px;
  color: #000;
  margin-bottom: 30px;
}

.kurator-lk {
  padding: 70px 0;
}
.kurator-lk .flex-block {
  margin-bottom: 60px;
}
.kurator-lk .table {
  margin-bottom: 30px;
}
.kurator-lk .table__head {
  margin-bottom: 20px;
}
.kurator-lk .table__head .table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.kurator-lk .table__head .table__row .table__col {
  font-size: 18px;
  font-weight: 200;
}
.kurator-lk .table__head .table__row .table__col:nth-child(1) {
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
}
.kurator-lk .table__head .table__row .table__col:nth-child(2) {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  text-align: center;
}
.kurator-lk .table__head .table__row .table__col:nth-child(3) {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  text-align: center;
}
.kurator-lk .table__head .table__row .table__col:nth-child(4) {
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%;
  text-align: center;
}
.kurator-lk .table__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}
.kurator-lk .table__body .table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.kurator-lk .table__body .table__row .table__col {
  background: #FFFFFF;
  height: 79px;
  font-weight: 400;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
}
.kurator-lk .table__body .table__row .table__col:nth-child(1) {
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
}
.kurator-lk .table__body .table__row .table__col:nth-child(2) {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kurator-lk .table__body .table__row .table__col:nth-child(3) {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kurator-lk .table__body .table__row .table__col:nth-child(4) {
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 13px 14px;
  opacity: 0;
}
.kurator-lk .table__body .table__row a.table__col:nth-child(4) {
  opacity: 1;
}
.kurator-lk .table__body .table__row a.table__col:nth-child(4):hover {
  background: #e4f1ff;
}
.kurator-lk .table__body .table__row.--passed .table__col {
  color: #0099DA;
}
.kurator-lk .add-user {
  position: relative;
}
.kurator-lk .add-user:hover {
  background: #e4f1ff;
}
.kurator-lk .add-user::before {
  position: absolute;
  content: "";
  left: 30px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%2210.1543%22%20width%3D%221.69231%22%20height%3D%2222%22%20fill%3D%22%230099DA%22%2F%3E%0A%3Crect%20y%3D%2211.8462%22%20width%3D%221.69231%22%20height%3D%2222%22%20transform%3D%22rotate(-90%200%2011.8462)%22%20fill%3D%22%230099DA%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 22px;
}

.test-result {
  padding: 70px 0;
}
.test-result .flex-block {
  margin-bottom: 70px;
}
.test-result .flex-block .h2-title {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0;
}
.test-result__message .h2-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}
.test-result__message p.text {
  margin-bottom: 50px;
  font-weight: 200;
  font-size: 22px;
}
.test-result__message .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}
.test-result__message .btns .show-results {
  font-size: 18px;
  font-weight: 400;
  color: #0099DA;
  text-decoration: underline;
}
.test-result__message .btns .btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.test {
  padding: 70px 0;
}
.test .flex-block {
  margin-bottom: 60px;
}
.test .flex-block .timer {
  border-radius: 50px;
  background: #FFF;
  padding: 20px 60px;
  font-size: 32px;
  font-weight: 300;
  color: #0099DA;
  letter-spacing: 1px;
}
.test .test-name {
  font-weight: 500;
  font-size: 40px;
  color: #000000;
  margin-bottom: 40px;
}
.test .testSlider {
  margin-bottom: 60px;
  padding: 2px;
}
.test .testSlider .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}
.test .testSlider .question__text {
  font-weight: 300;
  font-size: 28px;
  color: #000000;
  margin-bottom: 40px;
}
.test .testSlider .question__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  background: #F5F5F5;
}
.test .testSlider .question__answers .answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 14px;
  padding: 40px;
  background: #FFF;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.test .testSlider .question__answers .answer .letter {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 35px;
}
.test .testSlider .question__answers .answer label {
  font-size: 18px;
  font-weight: 300;
}
.test .testSlider .question__answers .answer:hover {
  background: #e4f1ff;
  outline: 1px solid #0099DA;
}
.test .testSlider .question__answers .answer input {
  margin-right: 26px;
  opacity: 0;
}
.test .testSlider .question__answers .answer::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: #0099DA;
  left: 47px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 0;
}
.test .testSlider .question__answers .answer::before {
  position: absolute;
  content: "";
  width: 29px;
  height: 29px;
  background: #E6E6E6;
  left: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
}
.test .testSlider .question__answers .answer.marked {
  background: #0099DA;
}
.test .testSlider .question__answers .answer.marked .letter {
  color: #FFF;
}
.test .testSlider .question__answers .answer.marked label {
  color: #FFF;
}
.test .testSlider .question__answers .answer.marked::before {
  background: #FFF;
}
.test .testSlider .question__answers .answer.marked::after {
  opacity: 1;
}
.test .test-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.test .test-controls .next-question:disabled {
  opacity: 0.5;
  position: relative;
}
.test .test-controls .next-question:disabled::after {
  position: absolute;
  content: "Не выбран вариант ответа";
  color: #000000;
  font-size: 18px;
  font-weight: 200;
  width: 100%;
  left: calc(100% + 10px);
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.test .test-controls .next-question:disabled:hover {
  background: #0099DA;
  color: #FFF;
  cursor: default;
}
.test .test-controls .next-question:disabled:hover::after {
  opacity: 1;
}

.result {
  padding: 70px 0;
}
.result .flex-block {
  margin-bottom: 60px;
}
.result .h2-title {
  margin-bottom: 0;
}
.result .test-name {
  font-weight: 200;
  font-size: 22px;
  color: black;
}
.result .question {
  font-weight: 400;
  font-size: 18px;
  color: black;
}
.result .question-block {
  margin-bottom: 40px;
}
.result .result__list {
  background: #FFF;
  padding: 60px 40px;
}
